{
	"trailingComma": "all",
	"useTabs": true,
	"tabWidth": 3,
	"semi": true,
	"singleQuote": false,
	"printWidth": 88,
	"overrides": [
		{
			"files": "**/*.{hbs}",
			"options": {
				"parser": "glimmer"
			}
		}
	]
}
