<footer class="footer">
  <p>This page was built using <a href="https://antora.org" target="_blank">Antora</a> with a theme forked from the <a
      href="https://gitlab.com/antora/antora-ui-default" target="_blank">default UI</a>. Search is powered by <a
      href="https://lunrjs.com" target="_blank">Lunr</a>.</p>
  <p>The source code for this UI is licensed under the terms of the MPL-2.0 license.</p>
</footer>
