<header class="header">
  <nav class="navbar">
    <div class="navbar-brand">
      <a class="navbar-item" href="{{{or site.url siteRootPath}}}">{{site.title}}</a>
      {{!-- hamburger menu --}}
      <button class="navbar-burger" data-target="topbar-nav" type="button"
        title="Expand or collapse toolbar: a search bar and a collection of external links">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
    <div id="topbar-nav" class="navbar-menu">
      <div class="navbar-end">
        <div class="navbar-item has-dropdown is-hoverable open-left">
          <span class="navbar-link"><span class="navbar-link-text">Links</span></span>
          <div class="navbar-dropdown">
            {{#if (not @root.page.attributes.dont-link-homepage-in-header)}}
              <a class="navbar-item navbar-external-link" href="https://rltb.me" target="_blank">
                <div class="navbar-item-inner">
                  <div class="site-logo icon-user-home"></div><span class="site-url"><span
                      class="hidden">/&nbsp;</span>rltb.me</span>
                </div>
              </a>
            {{/if}}
            <a class="navbar-item navbar-external-link" href="https://github.com/rben01" target="_blank">
              <div class="navbar-item-inner">
                <div class="site-logo github-logo github-repo-logo"></div><span class="site-url">/&nbsp;rben01</span>
              </div>
            </a>
            {{#if @root.page.attributes.link-resume-in-header}}
              <a class="navbar-item navbar-external-link" href="/_attachments/robert-bennett-resume.pdf"
                target="_blank">
                <div class="navbar-item-inner">
                  <div class="site-logo icon-file-pdf"></div><span class="site-url"><span
                      class="hidden">/&nbsp;</span>Résumé</span>
                </div>
              </a>
            {{/if}}
          </div>
        </div>
        {{!-- <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="#">Products</a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="#">Product A</a>
            <a class="navbar-item" href="#">Product B</a>
            <a class="navbar-item" href="#">Product C</a>
          </div>
        </div>
        <div class="navbar-item has-dropdown is-hoverable open-left">
          <a class="navbar-link" href="#">Services</a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="#">Service A</a>
            <a class="navbar-item" href="#">Service B</a>
            <a class="navbar-item" href="#">Service C</a>
          </div>
        </div> --}}
        {{#if env.SITE_SEARCH_PROVIDER}}
          <div class="navbar-item search hide-for-print">
            <div id="search-field" class="field">
              <input id="search-input" type="text" placeholder="Search this site">
            </div>
          </div>
        {{/if}}
      </div>
    </div>
  </nav>
</header>
