<button class="nav-toggle">
	<svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1 1">
		<use class="icon-menu" href="#icon-menu"></use>
		<use class="icon-back" href="#icon-back"></use>
	</svg>
</button>
