<button class="nav-item-toggle {{#unless not-hidden}}hidden{{/unless}}">
	<svg xmlns="http://www.w3.org/2000/svg" class="svg-icon" viewBox="0 0 1 1">
		<title>Disclosure caret</title>
		<use href="#icon-caret"></use>
	</svg>
</button>
