<button class="nav-toggle" title="Show or hide menu" type="button">
	<div class="menu-icon-duo">
		<span class="ui-icon icon-menu-pair icon-menu"></span>
		<span class="ui-icon icon-menu-pair icon-close"></span>
	</div>
</button>
