<div class="toolbar" role="navigation">
  {{> nav-toggle}}
  {{#with site.homeUrl}}
    <a href="{{{relativize this}}}" class="home-link{{#if @root.page.home}} is-current{{/if}}" title="Home">
      {{!-- <div class="icon-mask home-icon-bg"></div> --}}
      <div class="home-icon-duo" title="Home">
        <span class="ui-icon icon-home icon-home-outline"></span>
        <span class="ui-icon icon-home icon-home-filled"></span>
      </div>
    </a>
  {{/with}}
  {{> breadcrumbs}}
  {{> page-versions}}
  {{!-- {{#if (and page.fileUri (not env.CI))}}
    <div class="edit-this-page"><a href="{{page.fileUri}}">Edit this Page</a></div>
  {{else if (and page.editUrl (or env.FORCE_SHOW_EDIT_PAGE_LINK (not page.origin.private)))}}
    <div class="edit-this-page"><a href="{{page.editUrl}}">Edit this Page</a></div>
  {{/if}} --}}
</div>
